<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit TODO</title>
</head>
<body>
<h1>Fill out the form!</h1>
<div class="container">
    <form method="post" action="{% url 'update todo forms ex' todo.id %}">
        {% csrf_token %}
        <input type="text" name="title" value="{{ title }}">
        <input type="text" name="description" value="{{ description }}">
        <input type="submit" class="btn btn-primary" value='Submit'>
        <a class="btn" href="{% url 'forms todo ex' %}">Return</a>
    </form>
</div>
</body>
</html>