{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="text-center">
        <h1>Hello, {{ request.user }}!</h1>
        <h5>This is your profile</h5>
        {% if profile.profile_picture %}
            <img class="rounded-circle mb-3" src="{{ profile.profile_picture.url }}" alt="Generic placeholder image"
                 width="140" height="140">
        {% else %}
            <img class="rounded-circle mb-3" src="{% static 'images/Generic-person.svg.png' %}"
                 alt="Generic placeholder image" width="140" height="140">
        {% endif %}
        <div class="w-50 m-auto">
            Names: {{ profile.first_name }} {{ profile.last_name }} <br>
            Age: {{ profile.age }} <br>
            <a href="{% url 'change profile' %}">
                <button>Change Your Profile info</button>
            </a>
        </div>
    </div>
    <hr>
    {% if profile.car %}
        <h2 class='text-center'>This is your car</h2>
        <div class="row justify-content-center">
        <div class="row justify-content-center">

                    <div class="col-lg-4">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ profile.car.model.image_url }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ profile.car.manufacturer }} {{ profile.car.model }}</h5>
                                <a href="#" class="btn btn-primary">See details</a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>



    {% else %}
        <div class="text-center">
            <h2>You haven't add a car yet!</h2>
            <a href="#" class="btn btn-success">Add Car</a>
        </div>
    {% endif %}

{% endblock %}