<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bobby is the best!</title>
</head>
<body>
<h1>Registered people</h1>
<h2>My name is {{ name }}</h2>
<a href="/signin/">Sign in</a>
<form method="post" action="/update/">
    <input type="text" name="name">
    <input type="number" name="age">
    <button>Submit</button>
    {% csrf_token %}
</form>
{% for person in people %}
    <ul>
        <li>{{person.name}}, {{person.age}}</li>
        <form method="post" action="/delete_event/{{ person.id }}">
            <button class="danger">Delete</button>
            {% csrf_token %}
        </form>
    </ul>
{% endfor %}
</body>
</html>