{% extends 'base.html' %}
{% load static %}

<link rel="stylesheet" href="../static/css/main.css">

{% block headline %} <h1>This is the Main App</h1> {% endblock %}

{% block content %}
    <a href="../secondary_app">Go to secondary app</a>
    <a href="../">Go back</a>
    <div>
        <form action="{% url 'root page' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <button>submit</button>
        </form>
    </div>
        {% for profile in profiles %}
            <div class="card m-3" style="width: 18rem;">
                {{ profile.name }} {{ ' ' }} {{ profile.last_name }}
                <li>
                    <img class="card-image-top" src="{{ profile.profile_picture.url }}" alt="Profile picture">
                </li>
            </div>
        {% endfor %}


{% endblock %}
