{% extends 'resources/sources/base.html' %}

{% block content %}
	<div class="source-list-section">
		<div class="source-list-container container">
			<h2>All Sources</h2>
            {% for source in object_list %}
			<div class="source-item-card">
				<h3>{{ source.name }}</h3>
				<a href="{% url 'article details' source.id %}">See related articles</a>
				<p>Link: <a href="{{ source.link }}" target="_blank">{{ source.name }}</a></p>
			</div>
            {% endfor %}
        </div>
	</div>
{% endblock %}